.ul-todo-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.list-todos {
  width: 320px;
  height: 65px;
  margin-top: 15px;

  margin-right: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 1px 10px 1px rgba(8, 8, 8, 0.849);
  background-color: #6ebf8b;
  border-radius: 2px;
}
.list-todos > div > h5 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-left: 5px;
  color: rgb(43, 42, 42);
  max-width: 25ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.list-todos > div > button {
  border: none;
  background-color: transparent;
  margin-right: 5px;
  font-size: 15px;
  font-weight: 800;
  color: #7a1027;
  cursor: pointer;
}
